.env
.venv/
__pycache__/
.pytest_cache/
.DS_Store

data/
pdfs/
tests/
pdfs_to_upload/
state/
zotero_database.json
zotero_database.db
*.db
its_lit_copy-DB
.vscode
*.md
!README.md
*.json
*.jsonl*
__pycache__
